.top {
    background-color: #0070A0;
    color: white;
    text-align: center;
    padding: 12px;
}
.top p span {
    color: #CCE5F3;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.left {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav_li {
    color: #33383F;
    cursor: pointer;
    position: relative;
}
.right {
    display: flex;
    gap: 20px;
}
.sing {
    background-color: transparent;
    border: none;
    color: #0070A0;
    font-size: 15px;
    font-weight: 400;
}

.nav_li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #055b80;
    transform: translateX(-50%);
    transition: all 0.3s ease-in;
}

.nav_li:hover::after {
    width: 100%;
}
.nav_li:hover {
    color: #055b80;
}


.sing:hover {
    color: #055b80;
}
.demo:hover {
    background-color: #055b80;
    color: white;
}